.container{
  background-image: url(./images/car.png);
}
.link:hover { -webkit-transition: color .15s ease-in; transition: color .15s ease-in; }

.hover-bg-white-20:focus { background-color: rgba(255, 255, 255, 0.1); }

.hover-white:hover { background-color: #fff; }

